.favorite {
  width: var(--favorite-icon-sm);
  height: 11px;

  &--red {
    fill: var(--color-primary);
  }

  &--ghost {
    fill: none;

    path {
      fill: var(--color-primary);
    }
  }

  &--white {
    fill: var(--color-white);
  }
}
