.favorite {
  width: 24px;
  height: 22px;

  &--red {
    fill: var(--color-primary);
  }

  &--ghost {
    fill: none;
    stroke: var(--color-primary);
  }

  &--white {
    fill: var(--color-white);
  }
}