.character-card {
  display: block;
  background-color: var(--color-black);
  overflow: hidden;

  &__image {
    aspect-ratio: 1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-md);
    border-top: 4px solid var(--color-primary);
  }

  &__name {
    color: var(--color-white);
    font-size: var(--font-size-sm);
    font-weight: 500;
    text-transform: uppercase;
  }

  &__favorite {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
}