.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  background-color: var(--color-black);

  &__favorites {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    background: none;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    font-size: var(--font-size-md);

    &-count {
      font-size: var(--font-size-md);
      font-weight: bold;
    }
  }
}
