.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000;

  &__favorites {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;

    &-icon {
      color: #e62429;
      font-size: 1.5rem;
    }

    &-count {
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

.logo {
  height: 40px;
  width: auto;
}